<h1><%= @pirate.name %></h1>
<h1><%= @pirate.height %></h1>
<h1><%= @pirate.weight %></h1>


<h2><%= Ship.all[0].name  %></h2>
<h2><%= Ship.all[0].type  %></h2>
<h2><%= Ship.all[0].booty %></h2>


<h2><%= Ship.all[1].name %></h2>
<h2><%= Ship.all[1].type %></h2>
<h2><%= Ship.all[1].booty %></h2>
